/* Variables */

:root {
    --basic-darkblue: #293449;
    --basic-lightgray: #F3F7F8;
    --basic-white: white;
    --basic-black: #000000;
    --basic-red: #EE3643;
    --basic-tab-orange: #FFBF47;
    --basic-tab-blue: #3BBCE3;
    --basic-tab-purple: #DC91D8;
    --basic-tab-green: #8ED78F;
    --basic-tab-dubleorange: #FFC047;
    --basic-crema: #F9F5F0;
    --basic-gray-servises: #F1F5F7;
    --basic-under: #32425C;
    --basic-social-item: #212A3A;
    --basic-light-grey-checkbox: #C5C5C5;
    --basic-light-grey-checkbox-hover: #B5B5B5;
    --basic-login-grey: #3D546F;
    --basic-button-all-items-hover: #CA2C37;
    --basic-button-all-items-active: #BA2732;
    --basic-cart-hover-focus: #161D29;
    --basic-cart-active: rgba(255, 255, 255, 0.5);
    --basic-opacity-low: rgba(255, 255, 255, 0.3);
    --basic-place-your-order: #63A63E;
    --basic-place-your-order-hover: #5FBB2D;
    --basic-navigation-item-hover: #1D2739;
    --basic-rectangles-item-hover: rgba(169, 169, 169, 0.3);
    --basic-goods-item: #EAEAEA;
    --basic-goods-item-hover: rgba(0, 0, 0, 0.15);
    --basic-goods-price-old: #A9A9A9;
    --basic-manufacturers-link-hover: rgba(0, 0, 0, 0.25);
    --basic-servises-slider-link: #FF5357;
    --basic-page-title: #F2F6F8;
    --basic-catalog-filter-price-link: #00CA74;
    --basic-catalog-filter-price-link-last: #D7DCDE;
    --basic-bottom-filter-link: #E5E5E5;
    --basic-feedback: #FFD180;
    --basic-white-appointment-item-button: #F4F4F4;
    --basic-slider-item: #58260e;
}


/* Global */

body {
    font-family: "PT Sans", "Arial", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


/* Main navigation */

.container {
    width: 940px;
    margin: 0 auto;
}

.main-header {
    background-color: var(--basic-lightgray);
}

.header-inner-menu {
    background-color: var(--basic-darkblue);
}

.header-inner-menu-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    font-family: "Cuprum", "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    width: 210px;
    background-color: var(--basic-red);
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: var(--basic-white);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:active,
.logo:focus {
    background-color: var(--basic-button-all-items-active);
    outline: none;
}

.search-container {
    display: block;
    position: relative;
    width: 271px;
    margin-left: 219px;
    height: 42px;
    overflow: hidden;
}

.search-form {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.search-label {
    position: absolute;
    left: 42px;
    top: 10px;
    font-size: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
    z-index: 10;
}

.search {
    display: flex;
    position: relative;
    font-family: "Cuprum", "Arial", sans-serif;
    width: calc(100% - 47px);
    height: 100%;
    background-color: var(--basic-darkblue);
    border: none;
    color: var(--basic-white);
    font-size: 18px;
    padding-left: 42px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

.search:focus {
    background-color: var(--basic-white);
    outline: none;
    color: var(--basic-black);
}

.search:focus+.search-label {
    display: none;
}

.search-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 17px;
    width: 17px;
    height: 17px;
    fill: var(--basic-white);
    z-index: 20;
    opacity: 0.5;
}

.search:hover~.search-icon {
    opacity: 1;
}

.search:focus~.search-icon {
    opacity: 1;
    fill: var(--basic-red);
}

.search:valid {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.search:valid~.search-icon {
    fill: var(--basic-red);
    opacity: 1;
}

.search:valid+.search-label {
    display: none;
}

.bookmarks {
    font-family: "Cuprum", "Arial", sans-serif;
    display: flex;
    width: 150px;
    position: relative;
    color: var(--basic-white);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bookmarks-text {
    display: inline-block;
    padding-left: 20px;
    position: relative;
}

.bookmarks-text::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    left: -2px;
    top: 3px;
    background-size: 100%;
    background-image: url("../img/bookmarks.svg");
    opacity: 0.3;
}

.bookmarks:hover>.bookmarks-text::before,
.bookmarks:focus>.bookmarks-text::before {
    opacity: 1;
}

.bookmarks:active,
.bookmarks:focus {
    background-color: #161D29;
    outline: none;
}

.bookmarks:active>.bookmarks-text {
    opacity: 0.3;
}

.cart {
    font-family: "Cuprum", "Arial", sans-serif;
    display: flex;
    width: 150px;
    font-size: 18px;
    color: var(--basic-white);
    text-decoration: none;
    position: relative;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cart-text {
    display: inline-block;
    padding-left: 20px;
    position: relative;
}

.cart-text::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: -2px;
    width: 15px;
    height: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.3;
}

.cart:hover>.cart-text::before,
.cart:focus>.cart-text::before {
    opacity: 1;
}

.cart:active,
.cart:focus {
    background-color: var(--basic-cart-hover-focus);
    outline: none;
}

.cart:active>.cart-text {
    color: var(--basic-cart-active);
}

.cart:active>.cart-text::before {
    opacity: 0.3;
}

.place-your-order {
    font-family: "Cuprum", "Arial", sans-serif;
    display: flex;
    width: 150px;
    color: var(--basic-white);
    background-color: var(--basic-place-your-order);
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.place-your-order:hover,
.place-your-order:focus {
    background-color: var(--basic-place-your-order-hover);
    outline: none;
}

.place-your-order:active {
    background-color: var(--basic-place-your-order);
    color: var(--basic-cart-active);
}

.header-internet-shop {
    display: flex;
    justify-content: flex-start;
    padding-top: 39px;
    padding-bottom: 47px;
}

.description-internet-shop {
    padding: 0;
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    width: 197px;
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin-left: 30px;
    margin-top: 5px;
}

.tel-container {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 69px;
    margin-left: 93px;
}

.tel {
    display: block;
    position: relative;
    font-family: "Cuprum", "Arial", sans-serif;
    width: 150px;
    border: 2px solid var(--basic-white);
    color: var(--basic-red);
    text-decoration: none;
    text-align: center;
    font-size: 21px;
    padding: 10px 45px 8px 73px;
}

.tel::before {
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 13px;
    left: 37px;
    background-image: url("../img/icon-phone.svg");
}

.address {
    display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    width: 260px;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    margin-top: 6px;
    margin-left: 5px;
}

.login-container {
    display: flex;
    justify-content: flex-start;
    height: 45px;
    ;
    width: 271px;
    margin-left: 2px;
}

.welcome {
    display: block;
    position: relative;
    font-family: "Cuprum", "Arial", sans-serif;
    width: 121px;
    background-color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    color: var(--basic-black);
    margin-left: 69px;
    padding: 12px 27px 12px 45px;
}

.main-icon-login {
    position: absolute;
    top: 17px;
    left: 17px;
    fill: var(--basic-light-grey-checkbox);
}

.welcome:hover,
.welcome:focus {
    color: var(--basic-red);
    outline: none;
}

.welcome:hover .main-icon-login,
.welcome:focus .main-icon-login {
    fill: var(--basic-login-grey);
}

.welcome:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.registration {
    display: block;
    width: 150px;
    font-family: "Cuprum", "Arial", sans-serif;
    background-color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    color: var(--basic-black);
    margin-left: 10px;
    padding: 12px 24px 12px 24px;
}

.registration:hover,
.registration:focus {
    color: var(--basic-red);
    outline: none;
}

.registration:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.main-navigation {
    width: 940px;
    padding-bottom: 60px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 940px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--basic-under);
    list-style: none;
    padding: 0px 8px 0px 9px;
    box-sizing: border-box;
    box-shadow: inset 0px -5px 0px var(--basic-darkblue);
    flex-wrap: wrap;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.navigation-link {
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-white);
    font-size: 18px;
    padding: 15px 19px 20px 19px;
}

.navigation-link:hover,
.navigation-link:focus {
    background-color: var(--basic-darkblue);
    outline: none;
}

.navigation-link:active {
    background-color: var(--basic-navigation-item-hover);
    color: var(--basic-opacity-low);
}

.rectangles {
    margin-top: 59px;
    margin-bottom: 59px;
}

.rectangles-list {
    margin: 0;
    padding: 0;
    width: 940px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
    list-style: none;
}

.rectangles-item {
    width: 300px;
    padding-top: 20px;
    padding-left: 22px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 22px;
}

.rectangles-item:first-child::after {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("../img/rectangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: var(--basic-white);
    top: 0;
    right: 0;
}

.rectangles-item--material {
    background-color: var(--basic-tab-orange);
}

.rectangles-item--material::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 32px;
    right: 18px;
    background-image: url("../img/icon-paint.svg");
    background-repeat: no-repeat;
}

.rectangles-item--device {
    background-color: var(--basic-tab-blue);
}

.rectangles-item--device::before {
    content: "";
    display: block;
    width: 75px;
    height: 61px;
    position: absolute;
    top: 34px;
    right: 31px;
    background-image: url(../img/icon-screwdriver.svg);
    background-repeat: no-repeat;
}

.rectangles-item--technic {
    background-color: var(--basic-tab-purple);
}

.rectangles-item--technic::before {
    content: "";
    display: block;
    width: 78px;
    height: 62px;
    position: absolute;
    top: 32px;
    right: 31px;
    background-image: url(../img/icon-tractor.svg);
    background-repeat: no-repeat;
}

.rectangles-item--sale {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: var(--basic-tab-green);
}

.rectangles-item--sale::before {
    content: "";
    display: block;
    width: 59px;
    height: 72px;
    position: absolute;
    top: 28px;
    right: 45px;
    background-image: url(../img/icon-bigcart.svg);
    background-repeat: no-repeat;
}

.rectangles-item--delivery {
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: var(--basic-tab-dubleorange);
}

.rectangles-item--delivery::before {
    content: "";
    display: block;
    width: 78px;
    height: 63px;
    position: absolute;
    top: 33px;
    right: 31px;
    background-image: url("../img/icon-truck.svg");
    background-repeat: no-repeat;
}

.rectangles-item h2 {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    box-sizing: border-box;
    margin-bottom: 13px;
    max-width: 179px;
}

.rectangles-link {
    font-family: "Cuprum", "Arial", sans-serif;
    padding: 11px 14px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    background-color: var(--basic-cart-active);
    min-width: 107px;
    text-align: center;
    color: var(--basic-white);
}

.rectangles-link:hover,
.rectangles-link:focus {
    background-color: var(--basic-opacity-low);
    outline: none;
}

.rectangles-link:active {
    background-color: var(--basic-rectangles-item-hover);
}


/*****SLIDER*****/

.slider {
    width: 620px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.slider-item {
    height: 100%;
    display: none;
}

.slider-item--active {
    display: block;
}

.slider-item--first {
    background: var(--basic-slider-item) url(../img/drills.jpg) no-repeat top left;
    background-size: cover;
}

.slider-item--second {
    background: var(--basic-slider-item) url(../img/perforatorman.jpg) no-repeat top left;
    background-size: cover;
}

.slider-header {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white);
    padding-top: 23px;
    padding-left: 24px;
    text-transform: uppercase;
}

.slider-description {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    padding-top: 5px;
    padding-left: 24px;
}

.slider .button-all-items {
    display: inline-block;
    width: 145px;
    margin-top: 113px;
    margin-left: 24px;
    text-align: center;
}

.slider .button-all-items:hover {
    background-color: var(--basic-button-all-items-hover);
}

.slider .button-all-items:active {
    background-color: var(--basic-button-all-items-active);
}

.slider-shift-left {
    position: absolute;
    display: block;
    top: 122px;
    left: 24px;
    width: 21px;
    height: 39px;
    background-image: url(../img/icon-left.svg);
}

.slider-shift-left:focus {
    outline: none;
}

.slider-shift-right {
    position: absolute;
    display: block;
    top: 122px;
    right: 21px;
    width: 21px;
    height: 39px;
    background-image: url(../img/icon-right.svg);
}

.slider-shift-right:focus {
    outline: none;
}

.slider-pager {
    margin: 0;
    padding: 0;
    width: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.slider-pager-item {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.slider-pager-link {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--basic-white);
    border-radius: 50%;
    position: relative;
}

.slider-pager-link::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 2px;
    top: 2px;
    background: #ffffff;
    display: block;
    position: absolute;
}

.slider-pager-link--active::after {
    background: #EE3643;
}

.complex-header {
    width: 940px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-crema);
}

.complex-header--goods {
    margin-bottom: 20px;
}

.complex-header--manufacturers {
    margin-bottom: 20px;
    margin-top: -26px;
}

.button-all-items-manufacturers {
    font-family: "Cuprum", "Arial", sans-serif;
    width: 192;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    padding: 11px 37px 9px 39px;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}

.button-all-items-manufacturers:hover,
.button-all-items-manufacturers:focus {
    background-color: var(--basic-button-all-items-hover);
    outline: none;
}

.button-all-items-manufacturers:active {
    background-color: var(--basic-button-all-items-active);
}

.complex-header-text {
    font-family: "Cuprum", "Arial", sans-serif;
    line-height: 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 28px;
}

.button-all-items {
    font-family: "Cuprum", "Arial", sans-serif;
    width: 192;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    padding: 11px 24px 9px 24px;
    color: var(--basic-white);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.button-all-items:hover,
.button-all-items:focus {
    background-color: var(--basic-button-all-items-hover);
    outline: none;
}

.button-all-items:active {
    background-color: var(--basic-button-all-items-active);
}

.complex-header>.button-all-items {
    margin-top: 0px;
    margin-right: 14px;
}

.goods {
    margin-bottom: 70px;
}

.goods-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -20px;
}

.goods-item {
    width: 220px;
    background-color: var(--basic-white);
    text-align: center;
    border: 1px solid var(--basic-goods-item);
    padding-bottom: 104px;
    position: relative;
    margin-left: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.goods-item:hover,
.goods-item:focus-within {
    box-shadow: 0px 4px 20px var(--basic-goods-item-hover);
    border-color: transparent;
}

.goods-item--new::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-image: url(../img/rectangle.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    color: var(--basic-white);
}

.goods-img-container {
    height: 177px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-img {
    max-width: 100%;
    max-height: 100%;
}

.goods-buttons-container {
    height: 177px;
    display: none;
    padding-top: 38px;
    box-sizing: border-box;
}

.goods-button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 135px;
    height: 38px;
    margin: 0 auto 10px;
    background-color: #63A63E;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

.goods-button-buy::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 25px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    opacity: 0.5;
}

.goods-button-buy:hover {
    background-color: #5FBB2D;
}

.goods-button-buy:active {
    background-color: #518534;
}

.goods-button-bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    margin-bottom: 10px;
    border: 2px solid var(--basic-place-your-order);
    margin: 0 auto 10px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    color: var(--basic-under);
    text-transform: uppercase;
    background-color: var(--basic-white);
}

.goods-button-bookmark:hover {
    border: 2px solid var(--basic-under);
}

.goods-button-bookmark:active {
    opacity: 0.3;
}

.goods-item:hover .goods-buttons-container {
    display: block;
}

.goods-item:hover .goods-img-container {
    display: none;
}

.goods-item:focus-within .goods-buttons-container {
    display: block;
}

.goods-item:focus-within .goods-img-container {
    display: none;
}

.goods-header {
    width: 185px;
    margin: 0 auto;
    display: inline-block;
    font-family: "PT Sans", "Arial" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: var(--basic-black);
}

.goods-price-container {
    position: absolute;
    height: 104px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.goods-price-old {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: var(--basic-goods-price-old);
    opacity: 0.5;
    text-decoration: line-through;
    margin-top: 6.86px;
}

.goods-price-new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 38px;
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--basic-white);
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    bottom: 23px;
    left: 49%;
    transform: translateX(-43%);
    padding: 0px;
}

.manufacturers-list {
    margin: 0;
    padding: 0;
    width: 940px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
}

.manufacturers-item {
    width: 220px;
    height: 145px;
    border: 1px solid var(--basic-goods-item);
}

.manufacturers-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manufacturers-link:hover,
.manufacturers-link:focus {
    box-shadow: 0px 4px 4px var(--basic-manufacturers-link-hover);
    border: transparent;
    outline: none;
}

.manufacturers-link:active {
    box-shadow: 0px 4px 4px var(--basic-manufacturers-link-hover);
    border: transparent;
    opacity: 0.5;
}

.servises {
    margin-top: 73px;
    background-color: var(--basic-gray-servises);
}

.servises-header {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 64px;
}

.servises-description {
    margin: 0;
    padding: 0;
    width: 396px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    padding-top: 25px;
}

.servises-slider-container {
    width: 940px;
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    padding-bottom: 100px;
    align-items: start;
}

.servises-list {
    margin: 0;
    padding: 0;
    width: 240px;
    list-style: none;
    box-shadow: 0px 4px 4px var(--basic-manufacturers-link-hover);
}

.servises-item {
    width: 240px;
    background-color: var(--basic-under);
}

.servises-link {
    display: block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: var(--basic-white);
    padding: 17.5px 50px 19.5px 22px;
}

.servises-link-active {
    background-color: var(--basic-white);
    color: var(--basic-darkblue);
}

.servises-link:hover,
.servises-link:focus {
    background-color: var(--basic-darkblue);
    color: var(--basic-white);
    outline: none;
}

.servises-link:active {
    background-color: var(--basic-white);
    color: var(--basic-darkblue);
}

.servises-slider {
    width: 619px;
    margin-left: 80px;
}

.servises-slider-list {
    list-style: none;
}

.servises-slider-item {
    display: none;
    position: relative;
}

.servises-slider-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 468px;
    height: 261px;
    top: 7px;
    right: 0;
    background-repeat: no-repeat;
    background-position: top right;
}

.servises-slider-delivery::after {
    background-image: url(../img/delivery.png);
}

.servises-slider-guarantee::after {
    background-image: url(../img/guarantee.png);
}

.servises-slider-credit::after {
    background-image: url(../img/credit.png);
}

.servises-slider-item--active {
    display: block;
}

.servises-slider-header {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.servises-slider-description {
    margin: 0;
    padding: 0;
    width: 330px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    padding-top: 28px;
}

.servises-slider-description-credit {
    padding-bottom: 20px;
}

.servises-slider-link {
    font-family: "Cuprum", "Arial", sans-serif;
    width: 195px;
    color: var(--basic-white);
    background-color: var(--basic-servises-slider-link);
    border-radius: 2px;
    text-transform: uppercase;
    padding: 11px 37px 9px 37px;
}

.servises-slider-link:hover,
.servises-slider-link:focus {
    outline: none;
    background-color: var(--basic-button-all-items-hover);
}

.servises-slider-link:active {
    background-color: var(--basic-button-all-items-active);
}

.contacts-list {
    width: 940px;
    background-color: var(--basic-white);
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.company {
    width: 460px;
    margin-bottom: 70px;
}

.company-header {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
}

.company-description {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-top: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.company-description-second {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.company-list {
    margin: 0;
    padding: 0;
    width: 138px;
    list-style: none;
    margin-left: 25px;
}

.company-item {
    position: relative;
    padding-top: 8px;
    margin-top: 1px;
    margin-left: 12px;
}

.company-item::before {
    content: "";
    background-color: var(--basic-red);
    width: 25px;
    height: 2px;
    position: absolute;
    top: 18px;
    left: -37px;
}

.company-link {
    display: inline-block;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
}

.company-link::after {
    display: block;
    content: "";
    background-color: var(--basic-black);
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}

.company-link:hover::after,
.company-link:focus,
.company-link:focus::after {
    outline: none;
    width: 100%;
}

.button-all-items-company {
    display: inline-block;
    margin-top: 40px;
    width: 172px;
    padding: 11px 8px 9px 40px;
}

.contacts {
    width: 300px;
    margin-bottom: 70px;
}

.contacts-header {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
}

.contacts-description {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.contacts-map-link {
    display: block;
    margin-top: 32px;
}

.contacts-map-link:focus {
    outline: none;
}

.button-all-items-contacts {
    display: inline-block;
    margin-top: 21px;
    width: 230px;
    padding: 11px 8px 8px 63px;
}


/* *********************************************************************/

.inner-cart {
    background-color: var(--basic-red);
}

.inner-login-container {
    width: 299px;
    display: flex;
    flex-direction: column;
    margin-left: 51px;
}

.login-name {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: var(--basic-black);
    text-align: center;
    background-color: var(--basic-white);
    padding: 10px;
    position: relative;
    display: block;
}

.icon-user {
    position: absolute;
    top: 12px;
    left: 16px;
    fill: var(--basic-light-grey-checkbox);
}

.icon-logout-link {
    position: relative;
    display: block;
}

.icon-logout {
    position: absolute;
    top: -29px;
    right: 17px;
    fill: var(--basic-light-grey-checkbox);
}

.icon-logout:hover {
    fill: var(--basic-login-grey);
}

.login-name:hover .icon-user,
.login-name:focus .icon-user {
    fill: var(--basic-login-grey);
    outline: none;
}

.login-name:active {
    opacity: 0.3;
}

.login-link-container {
    width: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 46px;
    padding-bottom: 5px;
    margin-top: 9px;
}

.inner-login-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--basic-under);
    margin-right: 12px;
    margin-left: 9px;
}

.my-order {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--basic-under);
    margin-right: 12px;
    position: relative;
}

.inner-login-link:hover,
.inner-login-link:focus {
    color: var(--basic-red);
    outline: none;
}

.my-order:hover,
.my-order:focus {
    color: var(--basic-red);
    outline: none;
}

.inner-login-link:active {
    color: var(--basic-light-grey-checkbox);
}

.my-order::after {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    right: -9px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--basic-under);
}

.my-order:hover .my-order::after {
    background-color: var(--basic-red);
}

.bread-crambs {
    margin-bottom: 20px;
}

.bread-crambs-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 21px;
}

.bread-crambs-link {
    display: block;
    position: relative;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-right: 13px;
    padding-right: 28px;
}

.bread-crambs-link:focus {
    outline: none;
}

.bread-crambs-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 6.52px;
    height: 10.3px;
    top: 3px;
    right: 5px;
    background-image: url("../img/icon-right-small.svg");
}

.bread-crambs-item:last-child .bread-crambs-link::after {
    background-image: none;
}

.page-title {
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--basic-under);
    background-color: var(--basic-page-title);
    text-align: left;
    padding: 29px 0 30px 29px;
    box-sizing: border-box;
}

.catalog-container {
    display: flex;
    justify-content: space-between;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

.catalog {
    width: 700px;
    margin-bottom: 54px;
}

.sorting-line {
    display: flex;
    justify-content: flex-start;
    background-color: var(--basic-crema);
    margin-top: 20px;
    margin-bottom: 28px;
}

.sorting-line-title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    font-size: 13px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.sorting-type-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: 141px;
    padding-top: 5px;
}

.sorting-type-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-left: 68px;
    color: var(--basic-black);
    border-bottom: 1px dashed var(--basic-red);
    text-transform: uppercase;
}

.sorting-type-link-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: var(--basic-red);
    text-transform: uppercase;
}

.sorting-direction-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: 47px;
    padding-top: 10px;
}

.sorting-direction-link-up {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-down-dir.svg");
}

.sorting-direction-link-down {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-down-dir2.svg");
    margin-left: 20px;
}

.catalog-filter-title {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-size: 13px;
    background-color: var(--basic-crema);
    margin-top: 20px;
    margin-bottom: 23.15px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-filter-item {
    margin-top: 20px;
}


/*** catalog-price-filter****/

.catalog-filter-price-container {
    width: 220px;
    height: 80px;
    background-color: var(--basic-crema);
    margin-bottom: 8px;
}

.catalog-filter-price-link {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--basic-white);
    border-radius: 50%;
    margin-top: 29px;
    margin-left: 18px;
}

.catalog-filter-price-link:last-child {
    margin-left: 122px;
}

.catalog-filter-price-link::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 4px;
    height: 4px;
    background-color: var(--basic-light-grey-checkbox);
    border-radius: 50%;
}

.catalog-filter-price-link:first-child::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 20px;
    width: 126px;
    height: 2px;
    background-color: var(--basic-catalog-filter-price-link);
}

.catalog-filter-price-link:last-child::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 20px;
    width: 20px;
    height: 2px;
    background-color: var(--basic-catalog-filter-price-link-last);
}

.catalog-filter-input-range-bottom-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.catalog-filter-input-range-bottom-description {
    margin: 0;
    padding: 0;
    width: 22px;
    text-align: center;
}

.catalog-filter-input-range-bottom {
    width: 95px;
    height: 38px;
    border: none;
    background-color: var(--basic-crema);
    text-align: center;
}

.catalog-filter-legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.catalog-filter-fieldset {
    border-bottom: 1px solid var(--basic-light-grey-checkbox);
    padding-bottom: 32px;
    margin-bottom: 13px;
}

.catalog-filter-label {
    position: relative;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 36px;
    cursor: pointer;
}

.input-checkbox:checked+.catalog-filter-label-checkbox .filter-checked-indicator {
    display: block;
}

.filter-checked-indicator {
    position: absolute;
    top: 2px;
    left: 17px;
    display: none;
    width: 20px;
    height: 8px;
    background: var(--basic-white);
    transform: rotate(-50deg);
}

.catalog-filter-label-checkbox::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    box-sizing: content-box;
    width: 23px;
    height: 23px;
    border: 2px solid var(--basic-light-grey-checkbox);
    border-radius: 3px;
}

.catalog-filter-label-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 19px;
    height: 11px;
    border-bottom: 4px solid var(--basic-light-grey-checkbox);
    border-left: 4px solid var(--basic-light-grey-checkbox);
    transform: rotate(-45deg);
    display: none;
}

.input-checkbox:hover+.catalog-filter-label-checkbox::before,
.input-checkbox:focus+.catalog-filter-label-checkbox::before {
    border: 2px solid var(--basic-light-grey-checkbox-hover);
}

.input-checkbox:checked:hover+.catalog-filter-label-checkbox::after,
.input-checkbox:checked:focus+.catalog-filter-label-checkbox::after {
    border-bottom: 4px solid var(--basic-light-grey-checkbox-hover);
    border-left: 4px solid var(--basic-light-grey-checkbox-hover);
}


/****
.input-checkbox:disabled + .catalog-filter-label-checkbox::before {
	opacity: 0.3;
}
***/

.input-checkbox:disabled+.catalog-filter-label {
    opacity: 0.3;
}

.catalog-filter-label-radio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 4px solid var(--basic-light-grey-checkbox);
    border-radius: 50%;
}

.catalog-filter-label-radio::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: var(--basic-light-grey-checkbox);
    border-radius: 50%;
    display: none;
}

.input-radio:hover+.catalog-filter-label-radio::before,
.input-radio:focus+.catalog-filter-label-radio::before {
    border: 4px solid var(--basic-light-grey-checkbox-hover);
}

.input-radio:checked:hover+.catalog-filter-label-radio::after,
.input-radio:checked:focus+.catalog-filter-label-radio::after {
    background-color: var(--basic-light-grey-checkbox-hover);
}

.input-checkbox:checked+.catalog-filter-label-checkbox::after {
    display: block;
}

.input-radio:checked+.catalog-filter-label-radio::after {
    display: block;
}

.button-filter {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 220px;
    text-align: center;
    padding: 10px;
    background-color: var(--basic-white);
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid var(--basic-light-grey-checkbox);
    margin-top: 30px;
}

.bottom-filter-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.bottom-filter-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--basic-bottom-filter-link);
    margin-right: 10px;
    color: black;
    border-radius: 10%;
}

.next {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 140px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--basic-bottom-filter-link);
    margin-right: 10px;
    color: var(--basic-black);
    border-radius: 10%;
}

.first {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--basic-bottom-filter-link);
    margin-right: 10px;
    background-color: var(--basic-red);
    color: var(--basic-white);
    border-radius: 10%;
}

.bottom-filter-link:active {
    border: 1px solid var(--basic-red);
}

.first:active {
    border: 1px solid var(--basic-red);
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.inner-description {
    background-color: var(--basic-lightgray);
    padding-top: 64px;
    padding-bottom: 64px;
}

.inner-description-header {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 25px;
}

.inner-description-text {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}


/**********FOOTER*/

.under {
    background-color: var(--basic-under);
}

.under-logo {
    width: 220px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    background-color: var(--basic-red);
    text-align: center;
    color: var(--basic-white);
    font-weight: normal;
    text-transform: uppercase;
    box-shadow: inset 0px -5px 0px var(--basic-manufacturers-link-hover);
    cursor: pointer;
}

.under-logo:hover,
.under-logo:focus {
    outline: none;
    background-color: var(--basic-button-all-items-hover);
}

.under-logo:active {
    background-color: var(--basic-button-all-items-active);
}

.under-description {
    margin-bottom: 30px;
}

.under-description-address {
    margin: 0;
    padding: 0;
    width: 338px;
    margin-top: 23px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: var(--basic-lightgray);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-left: 2px;
}

.under-tel {
    color: var(--basic-white);
}

.under-tel:hover,
.under-tel:focus {
    color: var(--basic-red);
    outline: none;
}

.under-container {
    display: flex;
    justify-content: flex-start;
}

.inner-under-container {
    display: flex;
    justify-content: flex-start;
}

.under-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-left: 116px;
    margin-top: 32px;
}

.under-navigation-link {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-lightgray);
    padding-left: 58px;
}

.under-navigation-link:hover,
.under-navigation-link:focus {
    text-decoration: underline;
    outline: none;
}

.under-navigation-link:active {
    opacity: 0.5;
}

.under-navigation-item a:nth-child(6) {
    margin-left: 10px;
}

.inner-under-navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-top: 28px;
    margin-left: 23px
}

.inner-under-navigation-link {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-lightgray);
    padding-left: 58px;
    color: var(--basic-feedback);
}

.inner-under-navigation-link:hover,
.inner-under-navigation-link:focus {
    text-decoration: underline;
    outline: none;
}

.inner-under-navigation-link:active {
    opacity: 0.5;
}

.copyright-info {
    background-color: var(--basic-darkblue);
}

.copyright-info-container {
    height: 107px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright {
    margin: 0;
    padding: 0;
    width: 227px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-lightgray);
}

.social-list {
    margin: 0;
    padding: 0;
    width: 132px;
    list-style: none;
    display: flex;
    margin-left: 163px;
}

.social-item {
    width: 44px;
    height: 44px;
    background-color: var(--basic-social-item);
    border-radius: 50%;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    background-color: var(--basic-social-item);
    border-radius: 50%;
    background-image: url(../img/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-link-fb {
    background-image: url(../img/icon-fb.svg);
}

.social-link-insta {
    background-image: url(../img/icon-insta.svg);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--basic-red);
    outline: none;
}

.feedback {
    width: 137px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-lightgray);
    margin-left: 118px;
}

.mail-feedback {
    cursor: pointer;
}

.mail-feedback:hover,
.mail-feedback:focus {
    text-decoration: underline;
    outline: none;
}

.mail-feedback:active {
    color: var(--basic-red);
    text-decoration: none;
}

.feedback span {
    color: var(--basic-feedback);
}

.copyright-info a:last-child {
    color: var(--basic-feedback);
}

.feedback-dev {
    width: 98px;
    margin-left: 51px;
    color: var(--basic-white);
}

.feedback-link {
    display: block;
}

.feedback-link:hover,
.feedback-link:focus {
    text-decoration: underline;
    outline: none;
}

.copyright-info a:last-child:active {
    color: var(--basic-red);
    text-decoration: none;
}


/**modal write us**/

.modal-write-us {
    width: 620px;
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 4px 20px var(--basic-goods-item-hover);
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    background-color: var(--basic-white);
    display: none;
}

.modal-close {
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    top: 8px;
    right: 8px;
    background-image: url(../img/icon-close.svg);
    cursor: pointer;
    border: none;
    background-size: 100%;
}

.modal-write-us-conainer {
    width: 480px;
    margin: 0 auto;
}

.modal-wtite-us-login-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 39px;
}

.modal-write-us-label {
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: var(--basic-black);
}

.modal-write-us-input {
    width: 220px;
    height: 38px;
    margin-top: 11px;
    border: 2px solid var(--basic-light-grey-checkbox);
    border-radius: 2px;
    padding-left: 12px;
    box-sizing: border-box;
}

.modal-write-us-input-letter {
    width: 460px;
}

.appointment-item {
    width: 220px;
}

.appointment-item-letter {
    margin-top: 13px;
}

.appointment-item:nth-child(2) {
    margin-left: 20px;
}

.modal-write-us-input-letter {
    margin-top: 11px;
    height: 114px;
    border: 2px solid var(--basic-light-grey-checkbox);
    border-radius: 2px;
    padding-left: 12px;
    padding-bottom: 70px;
    box-sizing: border-box;
    outline: none;
}

.appointment-item-buttun {
    width: 620px;
    height: 112px;
    background-color: var(--basic-white-appointment-item-button);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
}

.modal-write-us-buttun {
    width: 460px;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal-write-us-buttun:hover {
    background-color: var(--basic-button-all-items-hover);
}

.modal-write-us-buttun:active {
    background-color: var(--basic-button-all-items-active);
}


/**modal map**/

.modal-map {
    width: 943px;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    border-top: 7px solid var(--basic-red);
    box-shadow: 0px 4px 20px var(--basic-goods-item-hover);
    display: none;
}


/*******************************************/

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}